<main class="main">
  <div class="form">
    <h1>Add Todo:</h1>
    <form
      [formGroup]="addTodoForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>New Task</mat-label>
        <input
          matInput
          formControlName="title"
          type="text">
      </mat-form-field>
      <button
        color="warn"
        mat-raised-button
        [disabled]="addTodoForm.invalid"
        type="submit"
      >Add</button>
    </form>
  </div>
<!--  <div>-->
<!--    <button>Completed</button>-->
<!--    <button>Uncompleted</button>-->
<!--    <button>By Date</button>-->
<!--    <button>By Author</button>-->
<!--    <button>Search by Title With the help of Pipe</button>-->
<!--  </div>-->
  <mat-list class="todo-list">
    <mat-list-item
      class="todo-list__item"
      *ngFor="let todo of todoList"
    >
      {{todo.title}}
      <a
        mat-raised-button
        [routerLink]="todo.id">View Details</a>
      <mat-checkbox type="checkbox" [checked]="todo.completed" (change)="!todo.completed"></mat-checkbox>
    </mat-list-item>
  </mat-list>
</main>

