<div *ngIf="todoItem && todoItem.id">
  <form
    [formGroup]="editTodoForm"
    (ngSubmit)="onSubmit()"
  >
    Title:
    <span *ngIf="readonly; else editAllowed">{{todoItem.title}}</span>
    <ng-template #editAllowed>
      <input [readonly]="readonly" formControlName="newTitle" autofocus>
    </ng-template>
    <button *ngIf="readonly" (click)="editTodo()">Edit</button>
    <button *ngIf="!readonly" type="submit" [disabled]="editTodoForm.invalid">Save</button>
  </form>
  <button  (click)="deleteTodo()">Delete</button>
</div>
