<mat-card *ngIf="todoItem && todoItem.id">
  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit(checkoutForm.value)"
  >
    <mat-card-title>
      <input matInput [readonly]="readonly" formControlName="newTitle">
    </mat-card-title>
    <mat-card-actions>
      <button mat-flat-button *ngIf="readonly" (click)="editTodo()">Edit</button>
      <button mat-flat-button *ngIf="!readonly" type="submit">Save</button>
      <button mat-flat-button type="button" (click)="deleteTodo()">Delete</button>
    </mat-card-actions>
  </form>
</mat-card>
